
	
	
	<script src = "https://cdn.socket.io/socket.io-1.4.5.js"></script>
	
	<canvas id="cnTuval" width="1920" height="1080" style="border:1px solid black; background-color: #236C09; z-index:0;">
        
	</canvas><br/>
	
	<img id="center" height="200" width="134" style="position:absolute; z-index:1; left: 905; top: 449; display: none;"> 
 
	<script>
	
	var socket = io();
	var tuval = document.getElementById("cnTuval");
	var ctx = tuval.getContext("2d");
	ctx.font="40px Verdana";
	var gradient=ctx.createLinearGradient(0,0,300,0);
	gradient.addColorStop("1.0","white");
	ctx.textAlign="center"; 
	// Fill with gradient
	ctx.fillStyle=gradient;
	
	var CURRENT_LIST = new Array(4);
	var x = new Array(4);
	var y = new Array(4);
	var score = new Array(4);
	var start = false;
	var person = 0;
	var turn = 0;
	var cards = new Array(52);
	var card_images = {};
	var back;
	var numCards = new Array(4); // holds the number of cards in the players hand
	var score = new Array(4);
	var topCard = document.getElementById("center");
	var cardsCount = 0;
	var topID = -1;
	var deckIndex = 0;
	var backCardCount = 0;
	var pisti = false;
	var initial = true;
	var drawTop = false;
	var numberofCards = new Array(52);
	var cardInfo = [];
	var mainscore = 0;
	
	var WIDTH = 1920;
	var HEIGHT = 1080;
	
	x[0] = WIDTH / 5;
	x[1] = WIDTH / 2;
	x[2] = 4 * WIDTH / 5;
	x[3] = x[1];
	y[0] = HEIGHT / 2;
	y[1] = 5 * HEIGHT / 6;
	y[2] = y[0];
	y[3] = HEIGHT / 6;
		
	for(var i = 0; i < 52; i++) {
		var img = new Image();
		img.src = "static/"+i+".png";
		card_images[i] = img;
	}
		
	var back = new Image();
	back.src = "static/back.png";
	var back90 = new Image();
	back90.src = "static/back90.png";
	
	for(var i = 0; i < 4; i++) {
		numCards[i] = 0;
		score[i] = 0;
		numberofCards[i] = 0;
	}
	var initCards = function() {
		for(var i = 0; i < cards.length; i++)
			cards[i] = i;
			
		for (var i = cards.length - 1; i >= 0; i--) {
			var j = Math.floor(Math.random() * (i + 1));
			var temp = cards[i];
			cards[i] = cards[j];
			cards[j] = temp;
		}
	}
		
	initCards();
	topCard.src = "static/"+cards[19]+".png";	// ilk kardı aldıgım için resmi koy
	topID = cards[19];
	
	
		
	var Player = function(id,name,x,y) {
		var p = {
			id:id,
			name:name,
			x:x,
			y:y,
		}
		p.draw = function() {
			var ratio  = 255/380;
			var height = 150;
			var width  = height*ratio;
			var stepSize = 120;
			for(var i = 0; i < numCards[p.id]; i++) {
				if(p.id == 0 || p.id == 2) {
					var offset = p.y - ((stepSize*(numCards[p.id]-1)) / 2);
					ctx.drawImage(back90, p.x - height/2, i*stepSize+offset - width/2, height, width);
				}
				else {
					var offset = p.x - ((stepSize*(numCards[p.id]-1)) / 2);
					ctx.drawImage(back, i*stepSize+offset - width/2, p.y - height/2, width, height);
				}
			}
			var nameXoffset = [-225, 0, 225, 0];
			var nameYoffset = [0, 130, 0, -100];
			if(turn == p.id && start) {
				ctx.save();
				ctx.font="bold 60px Verdana";
			}
				if(p.id == 0 || p.id == 2) {
					ctx.fillText(p.name, p.x + nameXoffset[p.id], p.y + nameYoffset[p.id]);
					ctx.fillText("score:"+score[p.id], p.x + nameXoffset[p.id], p.y + nameYoffset[p.id]+50);
				}
				else
					ctx.fillText(p.name+" score:"+score[p.id], p.x + nameXoffset[p.id], p.y + nameYoffset[p.id]);
			if(turn == p.id && start)
				ctx.restore();
		}
		return p;
	}
	
	refresh = function() {
		ctx.clearRect(0, 0, WIDTH, HEIGHT);
		
		var ratio  = 255/380;
		var height = 200;
		var width  = height*ratio;
		
		for (var i = 0; i < 4; i++)
			if(CURRENT_LIST[i] != undefined)
				CURRENT_LIST[i].draw();
		
		if(start == false) {
			ctx.fillText("Waiting Players...", WIDTH/2, HEIGHT/2);
		}
			
		
		for(var i = 3; i > (3-backCardCount); i--) {
			ctx.drawImage(back, WIDTH/2 - width/2 - i*25, HEIGHT/2 - height/2, width, height);
		}
		
		if(cardsCount != 0 || drawTop) {
			//ctx.drawImage(topCard, Math.abs(Math.floor(WIDTH/2 - width/2)), Math.abs(Math.floor(HEIGHT/2 - height/2)), width, height);
			ctx.fillText(cardsCount+backCardCount + " mainscore: " + mainscore , WIDTH/2 + width/2, HEIGHT/2 - height/2);
		}
		
		if(pisti && start) {
			ctx.save();
			ctx.font="bold 80px Verdana";
			ctx.fillText("PİŞTİ", WIDTH/2, HEIGHT/2);
			ctx.restore();
		}
	}
	
	var Next = function() {
		do {
			turn++;
			turn = turn % 4;
		}while(!CURRENT_LIST[turn]);
		socket.emit('turnMsg', turn);
		//console.log(turn);
	}
	
	var putInitialCards = function(step) {
		if(step <= 0) {
			cardsCount++;
			topCard.style.display = 'inline-block';
			console.log(cards[deckIndex]);
			console.log(deckIndex);
		console.log(" ");
				if(cards[deckIndex] % 13 == 0)
					mainscore += 1;
				else if(cards[deckIndex] == 27)
					mainscore += 2;
				else if(cards[deckIndex] == 22)
					mainscore += 3;
				else if(cards[deckIndex] % 13 == 10)
					mainscore += 1;
			deckIndex++;
			initial = false;
			drawTop = true;
			refresh();
			return;
		}
		console.log(cards[deckIndex]);
			console.log(deckIndex);
		console.log(" ");
		if(cards[deckIndex] % 13 == 0) {
			mainscore += 1;
			console.log('1. ');
		}
			
		else if(cards[deckIndex] == 27) {
		mainscore += 2;
			console.log('2. ');
		}
			//mainscore += 2;
		else if(cards[deckIndex] == 22) {
		mainscore += 3;
			console.log('3. ');
		}
		//	mainscore += 3;
		else if(cards[deckIndex] % 13 == 10) {
		mainscore += 1;
			console.log('4. ');
		}
			//mainscore += 1;
			
		
		
		deckIndex++;
		backCardCount++;
		refresh();
			
		setTimeout(function() {
			putInitialCards(step-1);
		}, 250);
	}
	
	var Deal = function(p,c, begin) {
		if(c == begin + 16) {
			//console.log("initial: "+initial);
			if(initial)
				putInitialCards(3);
			return;
		}
		socket.emit('deal', {p:p,c:cards[c]});
		if(CURRENT_LIST[p]) {
			deckIndex++;
			numCards[p]++;
		}
				
		refresh();
		setTimeout(function() {
			Deal((p+1)%4, c+1, begin);
		}, 250);
	}
		
	var Start = function() {
		if(52-deckIndex < person*4) {
			initCards();
			deckIndex = 0;
		}
		Deal(0, deckIndex, deckIndex);
		if(!start)
			socket.emit('turnMsg', turn);
		socket.emit('start', true);
		start = true;
	}
		
	socket.on('userInfo',function(data) {
		
		CURRENT_LIST =[];
		for (var i = 0; i < data.length; i++)
			CURRENT_LIST[data[i].id] = Player(data[i].id, data[i].name, x[data[i].id], y[data[i].id]);
		
		if(start && !CURRENT_LIST[turn])
			Next();
		person = data.length; // kişi sayısı güncelle
		
		if(person == 1 && start) {
			ctx.fillText("Player "+turn+" wins!", WIDTH/2, HEIGHT/2);
		}
			
		if(person == 4 && !start)
			Start();
			
		refresh();
	});
	
	var end = function() {
		for(var i = 3; i >= 0; i--)
			if(CURRENT_LIST[i])
				break;
		return numCards[i] == 0;
	}
	
	socket.on('cardPlayed', function(data) {
		numCards[turn]--;
		cardsCount++;
		topCard.style.display = 'inline-block';
		
		if(topID%13 == data.id%13) {	// ortadaki kartın aynısı ile alma
			if(cardsCount+backCardCount == 2) {	// pisti ise
				if(cards[data.id]%13 == 10)
					score[turn] += 20;
					
				else if(cards[data.id]%13 == 0)
					score[turn] += 100;
					
				else
					score[turn] += 10;
				
				pisti = true;
				
				refresh();
				setTimeout(function() {
					pisti = false;
					refresh();
				} ,1500);
			}
			else	// pisti değil ise
			{
				if(data.id % 13 == 0)  //as
					mainscore += 1;
				else if(data.id == 27) //sinek 2 
					mainscore += 2;
				else if(data.id == 22) //karo 10 
					mainscore += 3;
				score[turn] += mainscore;
			}
				//score[turn] += cardsCount + backCardCount;
			numberofCards[turn] += cardsCount + backCardCount;
			socket.emit('score', {id:turn, score:score[turn]});
			cardsCount = 0;
			topCard.style.display = 'none';
			backCardCount = 0;
			topID = -1;
			drawTop = false;
			mainscore = 0;
		}
		
		else if(data.id%13 == 10 && (cardsCount + backCardCount) > 1) {	// vale ile alma
			
			mainscore += 1;
			score[turn] += mainscore;
			numberofCards[turn] += cardsCount + backCardCount;
			
			socket.emit('score', {id:turn, score:score[turn]});
			cardsCount = 0;
			topCard.style.display = 'none';
			backCardCount = 0;
			topID = -1;
			drawTop = false;
			mainscore = 0;
		}
		else {
		
			if(data.id % 13 == 0)
				mainscore += 1;
			else if(data.id == 27)
				mainscore += 2;
			else if(data.id == 22)
				mainscore += 3;
			else if(data.id % 13 == 10)
				mainscore += 1;
		
			topCard.src = "static/"+data.id+".png";
			//cardInfo[turn].push(data.id);
			topID = data.id;
		}
		if(end()) {
			socket.emit('end', {bool:true});
			Start();
		}
		//console.log("deckIndex : "+deckIndex);
		Next();
		refresh();
	});
	</script>